* [33me6070e5[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mbestar[m[33m)[m finalisasi css (FIX)
*   [33ma39d0b4[m[33m ([m[1;31morigin/master[m[33m, [m[1;31morigin/HEAD[m[33m, [m[1;32mmaster[m[33m)[m Merge pull request #2 from Kuroee-sama/bestar
[32m|[m[33m\[m  
[32m|[m [33m|[m * [33m77344d7[m[33m ([m[1;31morigin/bestar[m[33m)[m finalisasi css (FIX)
[32m|[m [33m|[m[33m/[m  
[32m|[m * [33m0b7b615[m penyesuaian css terakhir sebelum final
[32m|[m[32m/[m  
*   [33m1739ae1[m[33m ([m[1;31morigin/vara[m[33m)[m Merge pull request #1 from Kuroee-sama/bestar
[35m|[m[36m\[m  
[35m|[m * [33me5b19f6[m penyesuaian pada css (tolong dilanjut 2 css lagi var)
[35m|[m[35m/[m  
* [33mc512902[m perbaikan sedikit pada css
* [33mb09e0fa[m hapus code info pada database, nanto tolong dihapus tabel info di database
* [33m7b05ee5[m revisi header pada category done
* [33m779e773[m revisi header pada category
* [33m93127d1[m navigasi udah fix SIGMA BOYY
* [33mac8341d[m revisi navigasi pada index
* [33m5f2e094[m penambahan elemen untuk google ttranslate pada header
* [33m7297eb6[m penyesuaian pada header
* [33m8576925[m fitur ubah kata sandi pada admin sudah berfungsi dengan baik
* [33mcfc898d[m fitur ubah kata sandi masih error
* [33mfc7259f[m penambahan fitur ubah kata sandi pada admin
* [33ma5b8beb[m perbaikan pada admin
* [33m0453ed6[m menambahkan admin
* [33m8b5de1d[m hapus admin
