services: 
  nginx: 
    build: 
      context: .                      # folder project
      dockerfile: Dockerfile.nginx    # Dockerfile khusus nginx
    ports: 
      - "80:80"                       # expose port 80 container ke host
    volumes: 
      - .:/var/www/myphpapp           # bind source code ke container
    depends_on: 
      - php                           # nginx menunggu php siap
    networks: 
      - app-network                   # pakai network yang sama

  php: 
    build: 
      context: .                      # folder project
      dockerfile: Dockerfile          # Dockerfile PHP
    user: "1000:1000"                 # menjalankan container sebagai user non-root
    working_dir: /var/www/myphpapp    # direktori kerja aplikasi di dalam container
    volumes: 
      - .:/var/www/myphpapp           # mount kode project ke container PHP
      - mysql_socket:/var/run/mysqld  # share MySQL UNIX socket
    depends_on: 
      - mysql                         # PHP menunggu MySQL siap
    networks: 
      - app-network                   # pakai network yang sama

  mysql: 
    image: mysql:8.0                  # pakai image resmi MySQL
    environment: 
      MYSQL_ROOT_PASSWORD: password   # password root
      MYSQL_DATABASE: newsportal      # nama database default
      MYSQL_USER: appuser             # user tambahan
      MYSQL_PASSWORD: password        # password user tambahan
    volumes: 
      - mysql_data:/var/lib/mysql     # simpan data MySQL agar tidak hilang
      - mysql_socket:/var/run/mysqld  # share socket ke PHP
    ports: 
      - "3306:3306"                   # buka port mysql ke host
    networks: 
      - app-network                   # network sama

  phpmyadmin: 
    image: phpmyadmin/phpmyadmin      # image phpmyadmin
    ports: 
      - "8081:80"                     # akses phpMyAdmin via localhost:8081
    environment: 
      - PMA_HOST=mysql                # host db = nama servicenya
      - MYSQL_ROOT_PASSWORD=password  # password root mysql
    depends_on: 
      - mysql                         # menunggu mysql jalan
    networks: 
      - app-network                   # network sama

volumes: 
  mysql_data:                         # volume untuk data mysql
  mysql_socket:                       # volume untuk share socket mysql

networks: 
  app-network: 
    driver: bridge                    # gunakan bridge network (default)
