name: CI/CD Auto Pull and Rebuild

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy-Wvara:
    runs-on: vra

    steps:
    # Detect path
    - name: Set project path
      run: |
        PROJECT_PATH="/home/thertiana/WNews"
        if [ ! -d "$PROJECT_PATH" ]; then
          echo "âŒ Folder WNews ga ketemu"
          exit 1
        fi
        echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV

    - name: Pull latest code
      working-directory: ${{ env.PROJECT_PATH }}
      run: |
        git fetch origin master
        git reset --hard origin/master

    - name: Stop containers
      working-directory: ${{ env.PROJECT_PATH }}
      run: docker compose down || true

    - name: Clean images
      run: |
        docker system prune -f
        docker image prune -a -f

    - name: Rebuild containers
      working-directory: ${{ env.PROJECT_PATH }}
      run: |
        docker compose build --no-cache
        docker compose up -d

    - name: Wait
      run: sleep 20

    - name: Health check
      run: curl -f http://localhost:8081 || exit 1

  deploy-Wbestar:
    runs-on: bstr

    steps:
    - name: Set project path
      run: |
        PROJECT_PATH="/home/chloen/WNews"
        echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV

    - name: Pull latest code
      working-directory: ${{ env.PROJECT_PATH }}
      run: |
        git fetch origin master
        git reset --hard origin/master

    - name: Stop containers
      working-directory: ${{ env.PROJECT_PATH }}
      run: docker compose down || true

    - name: Clean images
      run: |
        docker system prune -f
        docker image prune -a -f

    - name: Rebuild containers
      working-directory: ${{ env.PROJECT_PATH }}
      run: |
        docker compose build --no-cache
        docker compose up -d

    - name: Wait
      run: sleep 20

    - name: Health check
      run: curl -f http://localhost:8081 || exit 1
